# VS Code
.vscode/
.vscode-test/

# Source control
.gitignore

# CI/CD
.github/

# Dependencies
node_modules/

# Package manager
pnpm-lock.yaml
pnpm-workspace.yaml

# Boilerplate examples
boilerplate/
